.bigA {
  font-size: 50rem;
  position: absolute;
  left: 25rem;
  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.1;
  color: #6d5555;
  

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}
.bigA::before {
  display: block;
  content: "A";
  transform: rotate(60deg);
  position: absolute;
  font-size: 30rem;
  top: -350px;
  left: 110px;

  animation: float 2s infinite;
}

.bigA::after {
  content: "A";
  position: absolute;
  font-size: 30rem;
  top: 650px;
  left: 110px;
  transform: rotate(360deg);
  animation: float 3s infinite alternate;
}

.wrapper::before {
  content: "A";
  position: absolute;
  font-size: 20rem;
  top: 1350px;
  left: 550px;
  opacity: 0.2;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

.wrapper::after {
  content: "A";
  position: absolute;
  font-size: 20rem;
  top: 3300px;
  left: 550px;
  opacity: 0.2;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: float 3s infinite alternate;
}

.sideBigA {
  font-size: 20rem;
  position: absolute;
  left: 65rem;
  top: 2400px;

  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.2;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.sideBigA::before {
  content: "A";
  font-size: 20rem;
  display: block;
  position: absolute;

  right: 60rem;
  top: 2px;
  z-index: -9999;
  opacity: 0.5;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.firstLeftSide2BigA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1420px;
  left: 850px;
  opacity: 0.2;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}

.lastLeftSide2BigA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1420px;
  left: 1100px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}

.rightSideBigA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1420px;
  left: 300px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}

.firstRightSideBigA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1420px;
  left: 60px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}


.upSmallA {
  content: "A";
  position: absolute;
  font-size: 15rem;
  transform: rotate(360deg);
  top: 1150px;
  left: 580px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}


.upFirstLeftSmallA {
  content: "A";
  position: absolute;
  display: block;
  font-size: 10rem;
  transform: rotate(360deg);
  top: 1220px;
  left: 790px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upSecondLeftSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 10rem;
  top: 1220px;
  left: 990px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
} 


.upThirdLeftSmallA {
  content: "A";
  position: absolute;
  display: block;
  font-size: 10rem;
  transform: rotate(360deg);
  top: 1220px;
  left: 1200px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */

}

.upFirstRightSmallA {
   content: "A";
  position: absolute;
  display: block;
  font-size: 10rem;
  transform: rotate(360deg);
  top: 1220px;
  left: 400px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

.upSecondRightSmallA {
   content: "A";
  position: absolute;
  display: block;
  font-size: 10rem;
  transform: rotate(360deg);
  top: 1220px;
  left: 200px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

.upThirdRightSmallA {
   content: "A";
  position: absolute;
  display: block;
  font-size: 10rem;
  transform: rotate(360deg);
  top: 1220px;
  left: 10px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

.upperMiddleSmallA {
  content: "A";
  position: absolute;
  font-size: 10rem;
  transform: rotate(360deg);
  top: 1000px;
  left: 599px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

.upperFirstLeftSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 900px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}


.upperSecondLeftSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 730px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upperThirdLeftSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 730px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upperFourLeftSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 1100px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upperFiveLeftSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 1260px;
  opacity: 0.2;
  z-index: -9999;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upperFirstRightSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 500px;
  opacity: 0.2;
  z-index: -9999;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upperSecondRightSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 500px;
  opacity: 0.2;
  z-index: -9999;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.upperThirdRightSmallA {
  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 7rem;
  top: 1120px;
  left: 0px;
  opacity: 0.2;
  z-index: -9999;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}

.secondUpperMiddleSmallA {
  content: "A";
  position: absolute;
  font-size: 7rem;
  transform: rotate(360deg);
  top: 890px;
  left: 609px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

.secondUpperFirstLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 710px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}


.secondUpperSecondLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 830px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

.secondUpperThirdLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 970px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

.secondUpperFourLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 1080px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}


.secondUpperFiveLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 1210px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

.secondUpperFirstRightSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 510px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.secondUpperSecondRightSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 7px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperMiddleSmallA {
  content: "A";
  position: absolute;
  font-size: 5rem;
  transform: rotate(360deg);
  top: 810px;
  left: 619px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperFirstLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 700px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.thirdUpperSecondLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 790px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperThirdLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 890px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperFourLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 990px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperFiveLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 1090px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperSixLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 1200px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.thirdUpperSevenLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 1300px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperFirstRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 510px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.thirdUpperSecondRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 400px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperThirdRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 200px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperFourthRightSmallA {
   content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 300px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperFifthRightSmallA {
   content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 100px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.thirdUpperSixthRightSmallA {
   content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 860px;
  left: 15px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.fourthUpperMiddleSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 750px;
  left: 622px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperFirstLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 680px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperSecondLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 760px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.fourthUpperThirdLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 860px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperFourthLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 960px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperFifthLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 1060px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperSixthLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 1160px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperSevenLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 1260px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fourthUpperFirstRightSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 550px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.fourthUpperSecondRightSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 450px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.fourthUpperThirdRightSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 350px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
} 


.fourthUpperFourthRightSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 250px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
} 


.fourthUpperFifthRightSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 150px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
} 

.fourthUpperSixthRightSmallA {
  content: "A";
  position: absolute;
  font-size: 3rem;
  transform: rotate(360deg);
  top: 790px;
  left: 40px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
} 

.fifthUpperMiddleSmallA {
  content: "A";
  position: absolute;
  font-size: 5rem;
  transform: rotate(360deg);
  top: 670px;
  left: 615px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperFirstLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 710px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperSecondLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 810px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


.fifthUpperThirdLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 910px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperFourthLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 1010px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperFifthLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 1110px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperSixthLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 1210px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperFirstRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 510px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperSecondRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 410px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperThirdRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 310px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperFourthRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 210px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperFifthRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 110px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.fifthUpperSixthRightSmallA {
  content: "A";
  position: absolute;
  font-size: 4rem;
  transform: rotate(360deg);
  top: 710px;
  left: 10px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.sixthUpperMiddleSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 580px;
  left: 610px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

.sixthUpperFirstLeftSmallA {
  content: "A";
  position: absolute;
  font-size: 6rem;
  transform: rotate(360deg);
  top: 980px;
  left: 710px;
  opacity: 0.2;
  color: #6d5555;
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}


@keyframes floatSideToSide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
