
.bigA {
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 50rem;
  margin: auto;
 left: 30px;
   position: absolute; 
   transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.3;
  color: #6d5555;
}

.bigA::before {
content: "A";
font-size: 10rem;
}

