
@media (max-width: 500px) {

     /* body {
overflow-x: hidden;
    overflow-y: auto;   }
      */
span.initialBigA {
  font-size: 25rem;
  position: absolute;
  left: 7rem;
  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.1;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}
.latterBigA {
  font-size: 15rem;
  position: absolute;
  top: 3640px;
  left: 1rem;
  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.1;
  color: #6d5555;
  /* color:red; */
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;

  animation: float 2s infinite;
}

span.firstLeftSideLatterBigA {
     /* display: none; */
 font-size: 11rem;
  position: absolute;
  top: 2580px;
  left: 1rem;
  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.1;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;

  animation: float 2s infinite;
}

span.secondLeftSideLatterBigA {
     /* display: none; */

 font-size: 9rem;
  position: absolute;
  top: 2380px;
  left: 1rem;
  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.1;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;

  animation: float 2s infinite;
}


span.firstRightSideLatterBigA {
    content: "A";
  position: absolute;
  font-size: 7rem;
  transform: rotate(360deg);
  top: 2180px;
  left: 210px;
  opacity: 0.2;
  color: #6d5555;
  /* color: red; */
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation:none;
}


span.secondRightSideLatterBigA {
     /* display: none; */

  font-size: 5rem;
  position: absolute;
  top: 2080px;
  left: 225px;
  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.1;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;

  /* animation: float 2s infinite; */
}

span.upFirstLeftSmallA {
    content: "A";
    position: absolute;
    display: block;
    font-size: 9rem;
    transform: rotate(360deg);
    top: 2390px;
    left: 370px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upSmallA {
    content: "A";
    position: absolute;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 2250px;
    left: 380px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.upSecondLeftSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 7rem;
    top: 2250px;
    left: 20px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upThirdLeftSmallA {
    content: "A";
    position: absolute;
    display: block;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 2150px;
    left: 300px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upperFirstLeftSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 5rem;
    top: 2150px;
    left: 420px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upperFourLeftSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 5rem;
    top:2150px;
    left: 150px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upperThirdLeftSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 5rem;
    top: 2150px;
    left: 10px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.secondUpperSecondLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 4rem;
    transform: rotate(360deg);
    top: 2000px;
    left: 230px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.upperFiveLeftSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 4rem;
    top: 2040px;
    left: 150px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upperSecondLeftSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 4rem;
    top: 2040px;
    left: 20px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.secondUpperFiveLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 4rem;
    transform: rotate(360deg);
    top: 2050px;
    left: 310px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.secondUpperFirstLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1890px;
    left: 220px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.secondUpperThirdLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1950px;
    left: 140px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}


span.secondUpperMiddleSmallA {
    content: "A";
    position: absolute;
    font-size: 4rem;
    transform: rotate(360deg);
    top: 2050px;
    left: 390px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}


span.secondUpperFourLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1950px;
    left: 20px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.upperMiddleSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1950px;
    left: 300px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.sixthUpperSixthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1950px;
    left: 400px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.thirdUpperSevenLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 1750px;
    left: 210px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperThirdLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1820px;
    left: 340px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperSixLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1820px;
    left: 80px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperFirstLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 8rem;
    transform: rotate(360deg);
    top: 1620px;
    left: 200px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperFiveLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1710px;
    left: 310px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperFourLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1710px;
    left: 410px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperSecondLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1710px;
    left: 120px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperFifthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1710px;
    left: 10px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperMiddleSmallA {
    content: "A";
    position: absolute;
    font-size: 9rem;
    transform: rotate(360deg);
    top: 1460px;
    left: 190px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperSixthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 8rem;
    transform: rotate(360deg);
    top: 1560px;
    left: 350px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperFourthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 8rem;
    transform: rotate(360deg);
    top: 1560px;
    left: 30px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.upSecondRightSmallA {
    content: "A";
    position: absolute;
    display: block;
    font-size: 10rem;
    transform: rotate(360deg);
    top: 1300px;
    left: 200px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upSecondRightSmallA {
        content: "A";
        position: absolute;
        display: block;
        font-size: 8rem;
        transform: rotate(360deg);
        top: 1350px;
        left: 200px;
        opacity: 0.2;
        z-index: -9999;
        color: #6d5555;
        text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
        /* animation: floatSideToSide 2s infinite; */
    }

span.upFirstRightSmallA {
    content: "A";
    position: absolute;
    display: block;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 1430px;
    left: 350px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    animation: floatSideToSide 2s infinite;
}

span.upThirdRightSmallA {
    content: "A";
    position: absolute;
    display: block;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 1430px;
    left: 70px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.fourthUpperFirstLeftSmallA {
    content: "A";
    position: absolute;
     font-size: 7rem;
        transform: rotate(360deg);
        top: 1240px;
        left: 200px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperSecondLeftSmallA {
   content: "A";
    position: absolute;
     font-size: 6rem;
        transform: rotate(360deg);
        top: 1310px;
        left: 300px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}


span.fourthUpperMiddleSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1310px;
        left: 400px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fifthUpperFirstLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1310px;
        left: 100px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fifthUpperSecondLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 1310px;
        left: 00px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fifthUpperMiddleSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1265px;
    left:360px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.sixthUpperFirstLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1265px;
    left:050px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.upperSecondRightSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 5rem;
    top: 1180px;
    left: 400px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.upperFirstRightSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
       font-size: 5rem;
    top: 1060px;
    left: 400px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

span.secondUpperFirstRightSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 5rem;
    top: 960px;
    left: 400px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperThirdLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 930px;
    left: 015px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.secondUpperSecondRightSmallA {
    content: "A";
    position: absolute;
    font-size: 5rem;
    transform: rotate(360deg);
    top: 1025px;
    left: 12px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.sixthUpperSecondLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 4rem;
    transform: rotate(360deg);
    top: 1235px;
    left: 130px;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.upperThirdRightSmallA {
    content: "A";
    position: absolute;
    transform: rotate(360deg);
    font-size: 5rem;
    top: 1160px;
    left: 10px;
    opacity: 0.2;
    z-index: -9999;
    color: #6d5555;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: floatSideToSide 2s infinite; */
}

.fourthUpperEightLeftSmallA {
     display: none;
}


span.sixthUpperThirdLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 15rem;
    transform: rotate(360deg);
    top: 577vh;
    left: 60vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    animation: float 2s infinite;
}

span.fifthUpperThirdLeftSmallA {
    content: "A";
    position: absolute;
   font-size: 13rem;
    transform: rotate(360deg);
    top: 620vh;
    left: 30vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.sixthUpperFourthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 10rem;
    transform: rotate(360deg);
    top: 645vh;
    left: 4vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.sixthUpperFifthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 10rem;
    transform: rotate(360deg);
    top: 660vh;
    left: 35vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.sixthUpperMiddleSmallA {
    content: "A";
    position: absolute;
    font-size: 10rem;
    transform: rotate(360deg);
    top: 645vh;
    left: 68vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fifthUpperFourthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 9rem;
    transform: rotate(360deg);
    top: 690vh;
    left: 38vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.sixthUpperThirdRightSmallA {
    content: "A";
    position: absolute;
    font-size: 8rem;
    transform: rotate(360deg);
    top: 680vh;
    left: 68vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
    /* animation: float 2s infinite; */
}

span.fifthUpperFifthLeftSmallA {
    content: "A";
    position: absolute;
     font-size: 8rem;
    transform: rotate(360deg);
    top: 680vh;
    left: 08vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fifthUpperSixthLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 800vh;
    left: 08vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperSevenLeftSmallA {
    content: "A";
    position: absolute;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 780vh;
    left: 40vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fifthUpperFirstRightSmallA {
    content: "A";
    position: absolute;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 800vh;
    left: 70vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.fourthUpperFirstRightSmallA {
    content: "A";
    position: absolute;
    font-size: 7rem;
    transform: rotate(360deg);
    top: 820vh;
    left: 40vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.thirdUpperFirstRightSmallA {
    content: "A";
    position: absolute;
    font-size: 6rem;
    transform: rotate(360deg);
    top: 800vh;
    left: 40vw;
    opacity: 0.2;
    color: #6d5555;
    z-index: -9999;
    text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.wrapper {
     display: none;
}
     
div.wrapper::before {
     display: none;

  content: "A";
  position: absolute;
  font-size: 20rem;
  top: 1350px;
  left: 550px;
  opacity: 0.2;
  /* color: #6d5555; */
  color: Blue;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: float 2s infinite; */
}

div.wrapper::after {
     display: none;

  content: "A";
  position: absolute;
  font-size: 20rem;
  top: 3300px;
  left: 550px;
  opacity: 0.2;
  /* color: #6d5555; */
  color: red;

  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: float 3s infinite alternate;
}

span.sideBigA {
     /* display: none; */

  font-size: 13rem;
  position: absolute;
  left: 11rem;
  top: 2680px;

  transform: rotate(360deg);
  z-index: -9999;
  opacity: 0.2;
  color: #6d5555;
  /* color: yellow; */
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.bottomSmallA {
  content: "A";
  position: absolute;
  font-size: 11rem;
  transform: rotate(360deg);
  top: 2591px;
  left: 350px;
  opacity: 0.2;
  color: #6d5555;
  /* color: red; */
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation:none;
}

span.bottomFirstLeftSmallA {
     content: "A";
  position: absolute;
  font-size: 11rem;
  transform: rotate(360deg);
  top: 2500px;
  left: 190px;
  opacity: 0.2;
  color: #6d5555;
  /* color: red; */
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation:none;
}

span.bottomSecondLeftSmallA {
         content: "A";
  position: absolute;
  font-size: 9rem;
  transform: rotate(360deg);
  top: 2300px;
  left: 200px;
  opacity: 0.2;
  color: #6d5555;
  /* color: red; */
  z-index: -9999;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation:none;
}


span.sideBigA::before {
     display: none;

  content: "A";
  font-size: 20rem;
  display: block;
  position: absolute;

  right: 60rem;
  top: 2px;
  z-index: -9999;
  opacity: 0.5;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
}

span.firstLeftSide2BigA {
     display: none;

  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1550px;
  left: 850px;
  opacity: 0.2;
  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}

span.lastLeftSide2BigA {
     display: none;

  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1550px;
  left: 1100px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}

span.rightSideBigA {
     display: none;

  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1550px;
  left: 300px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  animation: floatSideToSide 2s infinite;
}

span.firstRightSideBigA {
     display: none;

  content: "A";
  position: absolute;
  transform: rotate(360deg);
  font-size: 15rem;
  top: 1550px;
  left: 60px;
  opacity: 0.2;
  z-index: -9999;

  color: #6d5555;
  text-shadow: 10px 10px 0 #d4c1c1, -10px -10px 0 #d4c1c1;
  /* animation: floatSideToSide 2s infinite; */
}



}